body{
    background: rgb(145, 145, 145);
   
}
li{
    display: inline;
}
.borda{
    border: 2px solid rgb(69, 31, 79);
    border-image: url(https://images.pexels.com/photos/8892/pexels-photo.jpg?_gl=1*hf61kq*_ga*NjkzODg2NjM1LjE3NTY0ODYyMTA.*_ga_8JE65Q40S6*czE3NTc5NTUyMDQkbzMkZzEkdDE3NTc5NTUyOTMkajQxJGwwJGgw) 30 stretch;
    border-image-slice: 100%;
    border-image-width: 100%;
    border-width: 100px;
    border-image-repeat: no-repeat;
    border-image-repeat: no-repeat;
    block-size: 100%;
    padding: 20px;
}

h1{
    text-align: center;
    text-size-adjust: auto;
    text-decoration-color: azure;
}
.linha{
    background-color: brown;
    margin: 10px;
    block-size: 30px;
    color: white;
}
.linha2{
    background-color: blue;
    margin: 10px;
    block-size: 30px;
    color: rgb(255, 255, 255);
}
.linha3{
    background-color: rgb(30, 255, 0);
    margin: 10px;
    block-size: 30px;
    color: rgb(255, 255, 255);
}

footer{
    display: inline;
}